# ------------------------------
# IDE
# ------------------------------
.idea/
.vscode/

# ------------------------------
# Python cache
# ------------------------------
__pycache__/
*.pyc

# ------------------------------
# Pytest cache
# ------------------------------
.pytest_cache/

# ------------------------------
# Logs
# ------------------------------
logs/
*.log

# ------------------------------
# Reports
# ------------------------------
reports/
allure-results/
allure-report/

# ------------------------------
# OS files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Keep important files
# ------------------------------
!.gitignore
!.python-version
